<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout/layout"
>
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script"> </th:block>

<div layout:fragment="content">
    <main class="container">
        <div class="product-name">
            <h1 class="sub-name">제품</h1>
            <button id="cate-btn">카테고리</button>
        </div>
        <a class="a1">크림</a>
        <div class="d4">
            <input class="inp1" type="text">
            <img class="img1" src="/image/logo4.png" alt="logo">
        </div>
        <div class="d2">
            <div class="d1"><a href="/Product/ProductReview"><img src="/image/네모안의엑스.png" alt=""></a><p style="position: absolute;">상품이름 기타등등</p></div>
            <div class="d1"><a href="/Product/ProductReview"><img src="/image/네모안의엑스.png" alt=""></a><p style="position: absolute;">상품이름 기타등등</p></div>
            <div class="d1"><a href="/Product/ProductReview"><img src="/image/네모안의엑스.png" alt=""></a><p style="position: absolute;">상품이름 기타등등</p></div>
            <div class="d1"><a href="/Product/ProductReview"><img src="/image/네모안의엑스.png" alt=""></a><p style="position: absolute;">상품이름 기타등등</p></div>
            <div class="d1"><a href="/Product/ProductReview"><img src="/image/네모안의엑스.png" alt=""></a><p style="position: absolute;">상품이름 기타등등</p></div>
            <div class="d1"><a href="/Product/ProductReview"><img src="/image/네모안의엑스.png" alt=""></a><p style="position: absolute;">상품이름 기타등등</p></div>
            <div class="d1"><a href="/Product/ProductReview"><img src="/image/네모안의엑스.png" alt=""></a><p style="position: absolute;">상품이름 기타등등</p></div>
            <div class="d1"><a href="/Product/ProductReview"><img src="/image/네모안의엑스.png" alt=""></a><p style="position: absolute;">상품이름 기타등등</p></div>
            <div class="d1"><a href="/Product/ProductReview"><img src="/image/네모안의엑스.png" alt=""></a><p style="position: absolute;">상품이름 기타등등</p></div>
            <div class="d1"><a href="/Product/ProductReview"><img src="/image/네모안의엑스.png" alt=""></a><p style="position: absolute;">상품이름 기타등등</p></div>
            <div class="d1"><a href="/Product/ProductReview"><img src="/image/네모안의엑스.png" alt=""></a><p style="position: absolute;">상품이름 기타등등</p></div>
            <div class="d1"><a href="/Product/ProductReview"><img src="/image/네모안의엑스.png" alt=""></a><p style="position: absolute;">상품이름 기타등등</p></div>
            <br>
            <div class="d3">
                <button class="sky">@</button>
                <button class="sky">@</button>
                <button class="sky">@</button>
                <button class="sky">@</button>
                <button class="sky">@</button>
                <button class="sky">@</button>
            </div>
        </div>
    </main>
</div>
</html>