<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout/layout"
>
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script"> </th:block>

<div layout:fragment="content">
    <main class="container">
        <h1 class="sub-title">내 정보 수정</h1>
        <div id="main-container">
            <div class="basic-information">
                <span style="font-size:25px;">기본 정보</span>
                <hr>
                <div>
                    <div class="label1">이메일</div>
                    <input class="input1" placeholder="내용을 입력해주세요"><br>
                    <div class="label2">닉네임</div>
                    <input class="input1" placeholder="내용을 입력해주세요">
                    <button style="width:80px;">중복확인</buttoN><br>
                    <div class="label1">비밀번호</div>
                    <input class="input1" placeholder="내용을 입력해주세요">
                </div>

            </div>
            <span style="font-size:25px;">상세 정보</span>

            <hr>
            <div class="basic-information">
                <div class="basic-informaiton">
                    <div class="label3">성별
                        <span style="font-size:10px;">(선택)</span></div>
                    <div style="display:inline-block;">
                        <div class="male"><input type="radio" name="gender">남</div>
                        <div class="female"><input type="radio" name="gender">여</div>
                    </div><br>
                    <div class="label1">주소</div>
                    <input class="input1" placeholder="내용을 입력해주세요">
                </div>

            </div>
            <hr>
            <a href="/Mypage/Reg_cancel" style="color:red; text-decoration: none;">회원탈퇴를 원하시나요?</a><br>

            <div class="button-div2">
                <button onClick="location.href='/Mypage/cancel_success'">확인</button>
                <button onClick="location.href='/Mypage/My_page'">취소</button>
            </div>
        </div>
    </main>
</div>
</html>