<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="headerFragment">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COSVIEW</title>

    <nav class="nav-var">
        <div class="logo" id="logo4">
            <a href="/"><img src="/image/logo4.png" style="height: 45px; width: 45px;" alt="companyLogo"></a>
        </div>
        <div class="category">
            <button id="nav-btn" class="navbar-toggler collapsed" onclick="openNav()"><i class="fa-solid fa-bars "></i></button>
        </div>
        <div class="side-menu" id="mySidenav">
            <a href="/"><img src="/image/logo2.png" style="width: 100%; height: 60px;" alt="companyLogo1"></a>
            <div class="side-menu-center">
                <div class="side-menu-list" id="menu-list">
                    <ul class="main-side">
                        <li><a href="/Product/ProductMain">제품</a></li>
                        <li><a href="/Magazine/CosviewStory">코스뷰 이야기</a></li>
                        <li><a href="/ServiceCenter/CSCenter">고객센터</a></li>
                        <li><a href="/Mypage/My_page">마이 페이지</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="menu-var">

            <button onclick="location.href='/members'">회원목록</button>
            <button onclick="location.href='/members/new'">회원가입</button>
            <button onclick="location.href='/Login/login'">로그인</button>
            <button onclick="location.href='/Search/search'"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </nav>
</header>

</html>