<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout/layout"
>
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script"> </th:block>

<div layout:fragment="content">
    <main class = "container">
        <h1 class="sub-title">고객 센터</h1>
        <br>
        <h4 class="SubTitle">회사 위치 안내</h4>
        <h6 class="LocationText">주소 : 서울 강남구 테헤란로 146</h6>

        <img id = "locationimg" src="/image/위치.png" >
    </main>

</div>
</html>