<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/9c09db3bf3.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../stylesheets/css/main.css">
    <link rel="stylesheet" href="../stylesheets/css/common.css">
    <link rel="stylesheet" href="../stylesheets/css/주택.css">
    <title>Document</title>

</head>

<body>
<style>

</style>
<header>
    <div class="wrap">
        <div class="logo">
            <a href="main-logined.html">
                <img src="../stylesheets/images/logo.png" alt="logo" style="width:80px;">
            </a>
            <div id="inputicon">
                <input type="text" class="input-box">
                <i class="fas fa-search search-icon"></i>
            </div>
            <a href="mypage.html" class="loginedicon">
                <img src="https://cdn-icons-png.flaticon.com/512/1370/1370267.png" alt="loginedIcon">
            </a>
        </div>
    </div>
</header>
<div class="log1">
    <a href="">
        <style>
            .container {
                border: 1px solid gray;
                height: 500px;
                margin: 10px 0px;
                background-color: white;
                height: 80px;
                font-size: 3rem;
                text-align: center;
            }
            .item {
                background-color: rebeccapurple;
                border: 1px solid white;
                color: white;
                font-size: 10rem;
                text-align: center;
                margin: 5%;
            }

            /*  */
            * {
                box-sizing: border-box;
            }
            .carousel-wrapper {
                width: 500px;
                height: 300px;
                overflow: hidden;
            }
            .carousel-wrapper>.carousel {
                display: flex;
            }
            /* .log1 img {
                width: 100%;
            } */
            .carousel-wrapper>.carousel>img {
                width: 300px;
                height: 300px;
            }
        </style>
        </style>
        <div id="d1" class="container">Container</div>
        <div class="container-md">
            <div class="row">
                <div class="col item">
                    <div>
                        <div class="carousel-wrapper">
                            <div class="carousel">
                                <img src="../img/주택/Main1_img1.webp" alt="" class="himg"/>
                                <img src="../img/주택/Main1_img2.webp" alt="" class="himg"/>
                                <img src="../img/주택/Main1_img3.webp" alt="" class="himg"/>
                                <img src="../img/주택/Main1_img4.webp" alt="" class="himg"/>
                                <img src="../img/주택/Main1_img5.webp" alt="" class="himg"/>
                                <img src="../img/주택/Main1_img6.webp" alt="" class="himg"/>
                            </div>
                        </div>
                        <!-- <button class="prev" type="button">prev</button>
                        <button class="next" type="button">next</button> -->
                        <!-- <script src=JS연결하는거같은데 뭔지모르겠음></script> -->
                        <span>
                                    <h2>설악산, 숲과 별이 만나는 때</h2>
                                    <h4>Host : Yolo 님</h4>
                                    <h5>90,900/박</h5>
                                </span>
                    </div>
                </div>
                <div class="carousel-wrapper">
                    <div class="carousel">
                        <img src="../img/주택/Main2_img1.webp">
                        <img src="../img/주택/Main2_img2.webp">
                        <img src="../img/주택/Main2_img3.webp">
                        <img src="../img/주택/Main2_img4.webp">
                        <img src="../img/주택/Main2_img5.webp">
                        <img src="../img/주택/Main2_img6.webp">
                        <span>
                                    <h2>설악산, 숲과 별이 만나는 때</h2>
                                    <h4>Host : Yolo 님</h4>
                                    <h5>90,900/박</h5>
                                </span>
                    </div>
                </div>
                <div class="carousel-wrapper">
                    <div class="carousel">
                        <img src="../img/주택/Main3_img1.webp">
                        <img src="../img/주택/Main3_img2.webp">
                        <img src="../img/주택/Main3_img3.webp">
                        <img src="../img/주택/Main3_img4.webp">
                        <img src="../img/주택/Main3_img5.webp">
                        <img src="../img/주택/Main3_img6.webp">
                        <span>
                                    <h2>설악산, 숲과 별이 만나는 때</h2>
                                    <h4>Host : Yolo 님</h4>
                                    <h5>90,900/박</h5>
                                </span>
                    </div>
                </div>
                <div class="carousel-wrapper">
                    <div class="carousel">
                        <img src="../img/주택/Main4_img1.webp">
                        <img src="../img/주택/Main4_img2.webp">
                        <img src="../img/주택/Main4_img3.webp">
                        <img src="../img/주택/Main4_img4.webp">
                        <img src="../img/주택/Main4_img5.webp">
                        <img src="../img/주택/Main4_img6.webp">
                        <span>
                                    <h2>설악산, 숲과 별이 만나는 때</h2>
                                    <h4>Host : Yolo 님</h4>
                                    <h5>90,900/박</h5>
                                </span>
                    </div>
                </div>
                <div class="carousel-wrapper">
                    <div class="carousel">
                        <img src="../img/주택/Main5_img1.webp">
                        <img src="../img/주택/Main5_img2.webp">
                        <img src="../img/주택/Main5_img3.webp">
                        <img src="../img/주택/Main5_img4.webp">
                        <img src="../img/주택/Main5_img5.webp">
                        <img src="../img/주택/Main5_img6.webp">
                        <span>
                                    <h2>설악산, 숲과 별이 만나는 때</h2>
                                    <h4>Host : Yolo 님</h4>
                                    <h5>90,900/박</h5>
                                </span>
                    </div>
                </div>
                <div class="carousel-wrapper">
                    <div class="carousel">
                        <img src="../img/주택/Main6_img1.webp">
                        <img src="../img/주택/Main6_img2.webp">
                        <img src="../img/주택/Main6_img3.webp">
                        <img src="../img/주택/Main6_img4.webp">
                        <img src="../img/주택/Main6_img5.webp">
                        <img src="../img/주택/Main6_img6.webp">
                        <span>
                                    <h2>설악산, 숲과 별이 만나는 때</h2>
                                    <h4>Host : Yolo 님</h4>
                                    <h5>90,900/박</h5>
                                </span>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>