<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout/layout"
>
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{CSS/slick.css}">
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:src="@{js/slick.js}"></script>

</th:block>

<div layout:fragment="content">

    <main class="container" id="mains">
        <h1>COSVIEW는</h1>
        <p>성별에 맞는 화장품 맞춤 랭킹 !!</p>
        <p>당신이 원하는 제품의 리뷰룰 한눈에 보여드립니다.</p>

        <div>
            <img src="/image/maintalk.png">
        </div>

        <!-- 화장품 사진과 글 -->


        <div id="vision-space">
            <div id="vision-text">
                <h5>VISION</h5>
                <p>팀원 모두가 소통하며 <br>
                    성장하는 자율적 성장 플랫폼</p>
            </div>
            <img src="/image/lologo.png" alt="" height="300px">
        </div>

        <div id="value-space" class="mt-5">
            <h5>Our values</h5>
            <h1>모두를 위한 성장</h1>
            <p>스스로의 자유로운 성장을 돕고,</p>
            <p>이 성장이 모두의 성장으로 이어지며,</p>
            <p>궁극적으로 고객에게 이로운 영향을 미치는것.</p>
            <p>이것이 바로 우리의 성장입니다.</p>
        </div>

        <div class="tmp mt-5">
            <ul class="one-time">
                <li><img src="/image/회사이미지.jpg" alt="" width="100%"></li>
                <li><img src="/image/회사이미지2.jpg" alt="" width="100%"></li>
                <li><img src="/image/회사이미지3.jpg" alt="" width="100%"></li>
                <li><img src="/image/회사이미지4.jpg" alt="" width="100%"></li>
            </ul>
        </div>
    </main>
</div>
</html>