<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout/layout"
>
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script"> </th:block>

<div layout:fragment="content">
    <main class="container">
        <div class="sub-title">
            <h1>가입완료</h1>
        </div>
        <table class="table1">
            <tr>
                <td><img src="/image/logo2.png" alt="사진을 불러올 수 없습니다" style="width: 400px; height: 150px;"></td>
            </tr>
            <tr>
                <td><img src="/image/check.png" alt="사진을 불러올 수 없습니다"></td>
            </tr>
            <tr>
                <td class="td1">환영합니다.</td>
            </tr>
            <tr>
                <td class="td2"></td>
            </tr>
            <tr>
                <td class="td3"></td>
            </tr>
            <tr>
                <td>회원가입이 완료되었습니다.</td>
            </tr>
            <tr>
                <td>로그인후 코스뷰의 다양한 서비스를 이용해보세요</td>
            </tr>
            <tr>
                <td class="td4"></td>
            </tr>
            <tr>
                <a href="/Login/login333">
                <td><input class="btn btn-outline-success" href="Login/MemberLogin" id="inp1" value="로그인창"></td>
                </a>
            </tr>
        </table>

    </main>
</div>
</html>